<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sql-perf-monitoring.ZPM">
    <Module>
      <Name>sql-perf-monitoring</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="DRL.PKG"/>
    </Module>
  </Document>
</Export>